.promotion-banner-container {
  width: 100%;
  height: calc(80vh - 70px); /* Altura total menos el navbar */
  position: relative;
  overflow: hidden;
  margin-top: 0px; /* Para empujar visualmente el banner debajo del navbar */
}


.promotion-banner {
  width: 100%;
  height: 100%;
}

.promotion-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.9);
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: #333;
}
